{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}

{% block content %}

<!--
<section id="content" class="body">
  <h2>{{ category }}</h2>
</section>
-->

  {% if category not in LONG %}
    {% if category in DATEWISE %}
     <section id="content" class="body">
      {% for article in dates %}
        <dl>
        <dt>{{ article.date.strftime("%d %b %Y") }}</dt>
        <dd><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></dd>
        </dl>
      {% endfor %}
    {% else %}
     <section id="content" class="body">
      {% for article in dates %}
        <dl>
        <dt><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></dt>
	<dd>{{ article.summary }}</dd>
        </dl>
      {% endfor %}
     </section>
    {% endif %}
  {% endif %}

  {% if category in LONG %}
    {% for article in dates %}
     <section id="content" class="body">
       <h2>{{ article.title }}</h2>
        <div class="entry-content">
          {% if INCLUDE_ARTICLE_INFO %}
             {% include 'article_infos.html' %}
	  {% endif %}
          {{ article.content }}
        </div>
     </section>
<!-- /.entry-content -->
    {% endfor %}
  {% endif %}



{% endblock %}

